.header{
    height:55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index:10000;
}
.left-section{
    margin-right:70px;
    align-items: center;
    display:flex;
}
.menu{
    height:24px;
    margin-left:24px;
    cursor:pointer;
    transition: background-color 0.05s;
}
.menu:active{
    background-color: rgb(192, 192, 192);
}
.youtube-logo{
   height:21px;
   margin-left:20px;
   cursor:pointer;
}
.middle-section {
  display: flex;
  align-items: center;
  gap:10px;
}
.search-bar-wrapper {
  flex: 1;
  max-width: 700px;
  min-width: 250px;
}
.search-section {
  display:flex;
  flex: 1;
  height: 40px;
  border-style:solid;
  border-width: 1px;
  border-color: rgb(190, 190, 190);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.05);
  margin-top:2px;
}
.search-section:active{
  border-color:rgb(0, 0, 160);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 160, 0.05);
}
.search-bar {
  width: 520px;        
  padding-left: 15px;
  font-size: 16px;
  outline: none;
  border: none;
  height: 36px;
  box-sizing: border-box;  
  border-radius: 4px;
  margin:2px;
}
.search-bar::placeholder{
  font-family: 'Roboto', Arial, sans-serif;
  color:rgb(147, 146, 146);
}
.search-button {
  width: 60px;
  background-color: rgb(248, 248, 248);
  border-left: 1px solid rgb(204, 204, 204);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left-style:solid;
  border-left-width:1px;
  border-left-color:rgb(218, 218, 218);
}
.search-icon {
  height: 27px;
}
.search-button:hover{
  background-color: rgb(222, 222, 222);
}
.voice-search {
  height: 39px;
  width: 39px;
  background-color: rgb(242, 242, 242);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left:6px;
  transition: background-color 0.05s;
}
.voice-search:hover{
  background-color: rgb(222, 222, 222);
}
.notify-wrap,
.voice-wrap{
  position: relative;
}
.tooltip{
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  background-color: rgb(110, 110, 110);
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 4.5px;
  font-size: 12px;
  bottom: -51px;
  right:-50px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.notify-tooltip{
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  background-color: rgb(110, 110, 110);
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 4.5px;
  font-size: 12px;
  bottom: -57px;
  right: -7.5px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.notify-wrap:hover .notify-tooltip,
.voice-wrap:hover .tooltip {
    opacity: 1;
}

.right-section{
    width:230px;
    margin-left:35px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-shrink:0;
}
.create-button{
    width:98px;
    border-radius: 32px;
    border:none;
    outline:none;
    margin-right:10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size:14px;
    font-weight: bold;
    display:flex;
    height:38px;
    align-items: center;
    cursor:pointer;
    transition: background-color 0.05s;
}
.create-button:hover{
    background-color: rgb(222, 222, 222);
}
.plus-sign{
    height:30px;
    width:30px;
    margin-left:2px;
    margin-right:2px;
}
.notification{
    height:26px;
    width:26px;
    margin-right:26px;
    cursor:pointer;
}
.notification-wrapper{
    position:relative;
}
.notification-count{
  position:absolute;
  top:0;
  left:13px;
  background-color: rgb(210, 0, 0);
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius:  50%;
  font-size:13px;
  padding-left: 4.5px;
  padding-right: 4.5px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}
.profile{
    height:32px;
    width:32px;
    border-radius:50%;
    object-fit: cover;
    object-position: center 10%;
    margin-right:28px;
    cursor:pointer;
}