    .video-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      column-gap: 14px;
      row-gap: 39px;
      margin-right:21px;
    }
    @media (max-width: 1200px) {
      .video-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .thumbnail-container{
      position:relative;
    }
    .video-preview{
      cursor: pointer;
      width: 100%;
      position:relative;
    }
    .thumbnail {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center;
      border-radius:14px;
      margin-top:5px;
    }
    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
      column-gap: 5px;
      margin-top: 11px;
    }
    .prof-image {
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
    object-position: center 25%;
    }
    .video-title {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 8px;
    }
    .video-author,
    .video-stats {
      font-size: 13px;
      color: rgb(90, 90, 90);
    }
    .video-author {
      margin-bottom: 4px; 
    }
    .video-time{
    /* This is the time when the video was uploaded */
    position: absolute;
    bottom: 9.5px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3px 4px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }